.appbar {
    margin-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.app-container {
    max-width: 80%;
    margin: auto;
}

#user-images {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

ul {
    padding: 0;
    margin-top: 2em;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    border: 1px solid #e0e0e0;
    /*border-bottom: none;*/
    padding: 5px 20px;
    margin-bottom: .5em;
    border-radius: 2px;
}

li img {
    width: 60px;
}

.mui-btn--xsmall {
    height: 20px;
    line-height: 20px;
    padding: 0px 6px;
    font-size: 11px;
}